:root {
    --maintxt: #ff1399;
    --first-background: #ffd1e3;
    --secondtxt: #6db8ff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    color: var(--maintxt);
    font-family:Georgia, 'Times New Roman', Times, serif
}

header {
    background-color: var(--first-background);
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    color: var(--maintxt);
    margin: 0 -59px;
    display:block;
    position:relative;
    top: 198px;
    left: 59px;

}
header a {
    text-decoration: none;
    color: var(--secondtxt);
}
header nav {
float: right;
margin: auto 0;
}
header nav ul li {
    display: inline-block;
}
header nav ul li a {
    margin: 0 25px;
    font-weight: lighter;
    font-size: 28px;
    position: relative;
    top: -32px;
}
footer {
    background: var(--first-background);
    width: 100%;
    padding: 35px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 560px;
}
footer h2 {
    color: var(--secondtxt);
    display: inline;
    font-size: 25px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1 ;
    text-align: center;
}
.avatar img {
    border-radius: 31%;
    border: solid 2px rgba(0, 0, 0, .7);
    position: relative;
    top: -42px;
    left: 15px;
}
.title {
    font-size: 32px;
    border-bottom: #ff8dd9 3px solid;
    padding-bottom: 1px;
    text-align: center;
    margin:  0 auto 15px auto;
    width: 35%;
}
.intro div p {
    font-size: 20px;
    text-align: center;
    color: var(--secondtxt);
}
.project img {
    border: 2px solid #fdff75;
    position: relative;
    left: 555px;
}
.project h3 {
    position:relative;
    left: 710px;
}
.coming-soon img {
    float: left;
    position: relative;
    left: 333px;
}
.place-holder img {
    float: left;
    position: relative;
    left: 555px;
    bottom: 55px;
}
.coming-soon h3 {
    position: relative;
    top: 245px;
    left: 129px;
    padding: 15px;
}
.place-holder h3 {
    position: relative;
    left: 325px;
   top: 205px;
   
}
.next-project img {
    float: left;
    position: relative;
    left: -267px;
    top: 305px;
}

.next-place img {
    float: left;
    position: relative;
    right: 45px;
    top: 255px;
}
.next-project h3 {
    position: relative;
    bottom: -550px;
    right: 480px;
    padding: 15px;
}
.next-place h3 {
    position: relative;
    bottom: -525px;
    right: 255px;
    padding: 15px;
}
.contact div p a {
  font-size: 28px;
  text-decoration: none;
  color: var(--secondtxt);
  position: relative;
  left: 528px;
  padding-left: 55px;
}
#contact-info > * {
    position: relative;
    top: 366px;
}

#resume > * {
    position: relative;
    top: 465px;
}

#resume div a {
    font-size: 28px;
    text-decoration: none;
    color: var(--secondtxt);
    position: relative;
    left: 645px;
    padding-left: 55px;
}